@keyframes fade-in {
    from{ opacity: 100;}
    to { opacity: 0;}
}   

@keyframes fade-out {
    from{ opacity: 0;}
    to { opacity: 100;}
}   

.anime-fade-in {
    animation: fade-in 1.6s ease-in-out forwards;
}


.anime-fade-out {
    animation: fade-out 1.6s ease-in-out forwards;
}

.initial {
   opacity: 1; 
}
